* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    display: grid;
    place-items: center;
    background: #111;
}

.tic-tac {
    width: 600px;
    height: 600px;
    background: #000;
    border: 10px solid;
    border-image: linear-gradient(#00A789, coral) 1 round;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
    grid-gap: 10px;
}

.square {
    display: grid;
    cursor: pointer;
    place-items: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 120px;
    text-shadow: 0 0 2px #00A789,
        0 0 5px #00A789,
        0 0 10px #00A789,
        0 0 20px #00A789,
        0 0 50px #00A789,
        0 0 100px #00A789,
        0 0 200px #00A789;
    border: 2px solid;
    border-image: linear-gradient(#00A789, coral) 1 round;
    background: #111;
}

.winner-result{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    /* color: white; */
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    transition: .5s;
    font-family: sans-serif;
}

.winner-result h2{
    font-size: 120px;
    color: coral;
    text-shadow: 0 0 2px white,0 0 4px white;
} 

.result{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 20px;
    background: white;
}

.winner-result button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.active{
    font-size: 60px;
    color: white;
    font-family: sans-serif;
}
.active span{
    font-family: sans-serif;
    font-size: 100px;
}

.s{
    background: red;
}